@model PagedList.IPagedList<BankOnline.Models.Transaction>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    /**/

    ViewBag.Title = "Index";
}

<h2>List of transactions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        <h3> Filter by:<br /></h3>
        Date from @Html.TextBox("DateFrom", ViewBag.DateFrom as string, new { @type = "date" }) to @Html.TextBox("DateTo", ViewBag.DateFrom as string, new { @type = "date" })
        <br />
        Balance from @Html.TextBox("BalanceFrom", ViewBag.BalanceFrom as string) to @Html.TextBox("BalanceTo", ViewBag.BalanceTo as string)
        <br />
        @Html.RadioButton("Incoming", "incoming") Incoming only
        <br />
        @Html.RadioButton("Incoming", "outcoming") Outgoing only
        <br /> @Html.RadioButton("Incoming", "all") All<br />
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Source bank account
        </th>
        <th>
            Destinated bank account
        </th>
        <th>
            @Html.ActionLink("Transaction date", "Index", new { sortOrder = ViewBag.DateSort, currentFilter = ViewBag.CurrentFilter, DateFrom = ViewBag.DateFrom, DateTo = ViewBag.DateTo, BalanceFrom = ViewBag.BalanceFrom, BalanceTo = ViewBag.BalanceTo,Incoming =  ViewBag.Incoming })
        </th>
        <th>
       Amount
        </th>

        <th>Title</th>

        @if (Context.User.IsInRole("ADMIN"))
        {

            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>@Html.DisplayFor(m => item.Title)</td>

            <!--
            <td>
                @if (item.Defined)
                {
                    @Html.ActionLink("Create defined transaction", "Defined", new { id = item.ID }) @:|
                    @Html.ActionLink("Delete defined transaction", "DeleteDefined", new { id = item.ID })
                }
            </td>-->
            @if (Context.User.IsInRole("ADMIN"))
            {

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
        </tr>
    }

</table>


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
