@model BankOnline.Models.BankAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Image name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCard.Image)
        </dd>

        <dt>
      User name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>


        <dt>
            Credit card
        </dt>
        <dd>
            <img src="~/Images/@Model.CreditCard.Image" width="325px" height="204px" />
        </dd>
    </dl>
</div>
<p>
</p>
